.handle-container{
	border:1px solid red;
	padding:20px;
	width:80%;
	margin:0px auto;
	/* box-sizing: border-box; */
}

.handle{
    border: 1px solid red;
    width: 20px;
    height: 20px;
    /* border-radius: 10px; */
    background: #ff3809;
    position:relative;
    left:0px;
    top:0px;
}

.dragpath{
	height:2px;
	width:300px;
	background-color: #ff0000;
}